.person_after_login img {
  width: 50px;
}

.exam_card_wrapper {
  /* padding: 20px 20px 20px 20px; */
  transform: scale(0.85);
  transition: 300ms ease-in-out;
}

.exam_card {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #0094ff;
  border-radius: 22.575px 22.575px 0px 0px;
  width: 300px;
  opacity: 90%;
}

.exam_card_wrapper:hover {
  transform: scale(1);
}

.exam_card_2 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ec2dc2;
}

.exam_card_3 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #2af8ff;
}

.exam_card_4 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #29ffd8;
}

.exam_card_5 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ff006b;
}

.exam_card_6 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #312dec;
}

.exam_card_7 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ffd417;
}

.exam_topic {
  background: linear-gradient(
      192.02deg,
      #ffffff -61.29%,
      rgba(255, 255, 255, 0) 55.17%
    ),
    rgba(24, 8, 72, 0.2);
  border-radius: 22.575px 22.575px 0px 0px;
  padding: 25px 20px 25px 20px;
}

.exam_topic h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20.5227px;
  line-height: 31px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.exam_details {
  padding: 20px 30px 10px 30px;
}

.exam_date,
.exam_duration,
.exam_max_marks,
.exam_attendance {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.exam_date,
.exam_duration,
.exam_max_marks,
.exam_attendance p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.exam_date h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_duration h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_max_marks h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_attendance h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_controls {
  padding: 5px 30px 5px 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;

  background: linear-gradient(
      4.65deg,
      #f8f8f8 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #595959;
  border-radius: 0 0 22.575px 22.575px;
}

.serial_no {
  width: 36.26px;
  height: 36.26px;
  border-radius: 100%;
  background: #140064;
}

.serial_no p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16.4182px;
  line-height: 35px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
