* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********** HEADER SECTION ***************/

.blobs {
  display: flex;
}

.purple_blob img {
  width: 450px;
}

.pink_blob img {
  width: 802.5px;
  position: absolute;
  top: 0;
  right: 0;
}

.links_section {
  display: flex;
  justify-content: space-between;
}

.navlinks {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 130px;
}

.navlink {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 17.5px;
  color: white;
}

.logo img {
  width: 113px;
  position: absolute;
  top: 25px;
  left: 130px;
}

.login_top_button {
  background-color: white;
  width: 105px;
  height: 35px;
  border-radius: 33px;
  text-align: center;
  align-items: center;
}

.login_top_button_link {
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #140064;
}

.mobile_navbar {
  display: none;
}
.logo_and_hamburger {
  display: none;
}

.mobile_nav_links {
  display: none;
}

/****************** MAIN SECTION ***************************/

.main {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 550px;
}

.content {
  position: absolute;
  top: 200px;
  left: 130px;
  width: 33%;
}

.bigname {
  background: linear-gradient(
      270.93deg,
      #ffffff -4.63%,
      rgba(255, 255, 255, 0) 50.04%
    ),
    rgba(217, 239, 255, 0.4);
  width: 587px;
  padding: 35px;
  padding-left: 40px;
  position: relative;
  right: 40px;
}

.bigname h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 112px;
  font-feature-settings: "pnum" on, "lnum" on, "cpsp" on;
}

.S {
  color: #7545ff;
}

.P {
  color: #ff2c78;
}

.description {
  padding: 20px 0px 20px 0px;
}

.description p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-align: justify;
  font-feature-settings: "pnum" on, "lnum" on;
}

.classes {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.classes img {
  width: 100px;
}

.big_center_blobs {
  display: flex;
  align-items: center;
}

.back_yellow_blob {
  width: 625px;
  position: absolute;
  right: 60px;
}

.back_green_blob {
  width: 535px;
  position: absolute;
  right: 105px;
}

.picture_blob {
  width: 460px;
  position: absolute;
  right: 140px;
}

.footer_for_mobile_phone {
  display: none;
}

.blob_section_for_mobile {
  display: none;
}

/*****************BACKGROUND IMAGES*************************/
.background {
  display: flex;
  flex-direction: column;
}

.background img {
  width: 75px;
  opacity: 60%;
  z-index: -1;
}

.magnet {
  position: absolute;
  top: 40px;
  left: 600px;
}

.pulley {
  position: absolute;
  top: 130px;
  left: 725px;
}

.emc2 {
  position: absolute;
  top: 300px;
  left: 775px;
}

.einstein {
  position: absolute;
  top: 450px;
  left: 750px;
}

.incline_plane {
  position: absolute;
  top: 575px;
  left: 650px;
}

/****************** FOOTER SECTION ************************/

.footer {
  font-family: "Roboto", sans-serif;
  background: rgba(117, 69, 255, 0.2);
  padding: 10px 0 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 35px;
}

.footer p {
  padding-left: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 82.5%;
  position: relative;
  left: 130px;
}

.address {
  display: flex;
  align-items: center;
}

.address p {
  font-size: 14px;
  color: #4f4458;
}

.email {
  display: flex;
  align-items: center;
}

.call {
  display: flex;
  align-items: center;
}

/********************** REGISTRATION PAGE *******************/

.top_button_part {
  font-family: "Poppins", sans-serif;
  font-size: 17.5px;
  color: #140064;
  display: flex;
  position: absolute;
  right: 130px;
  top: 30px;
  align-items: center;
}

.top_button_part p {
  padding-right: 10px;
}

.registration_background {
  height: 100vh;
}

.registration_illustration {
  position: absolute;
  left: 12vh;
  top: 25vh;
  height: 50vh;
}

.registration_bottom_container {
  display: flex;
}

.registration_form {
  position: absolute;
  right: 130px;
  top: 130px;
  width: 575px;
}

.registration_form h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #140064;
}

.slide_part {
  display: flex;
  width: 575px;
  overflow: hidden;
}

.form_1 {
  width: 575px;
  transition: margin-left 300ms ease-in-out;
}

.form_1 label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  align-items: center;

  color: #140064;
}

.form_1 input {
  border: 1px solid #5f37ff;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 575px;
  height: 52px;
}

#DOB {
  width: 80%;
}

#class {
  width: 100%;
}

.number_input {
  display: flex;
  justify-content: space-between;
}

.date_of_birth {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.date_of_birth input {
  width: 100%;
}

.student_name {
  margin-top: 30px;
}

.parent_name,
.school_name,
.number_input {
  margin-top: 20px;
}

.next_form_bar {
  padding: 40px 0 0 0;
  display: flex;
  align-items: center;
}

.current_section {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: center;
}
.current_section img {
  margin-left: 15px;
}

.next_section_link,
.previous_section_link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #140064;
  cursor: pointer;
  width: 100px;
}

.mobile_number,
.email_id,
.password,
.confirm_password {
  margin-top: 20px;
}

.form_2 {
  margin-top: 10px;
}

.create_btn {
  border: 1.5px solid #140064;
  width: 105px;
  height: 35px;
  border-radius: 33px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17.5px;
  color: #140064;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.create_btn:hover {
  background-color: #140064;
  color: #fff;
}

/************* LOGIN FORM ****************/

.login_illustration {
  position: absolute;
  left: 12vh;
  top: 25vh;
  height: 55vh;
}

.profile_illustration {
  text-align: center;
}
a {
  text-decoration: none;
}
.big_button {
  width: 100%;
  height: 62px;

  background: #ffffff;
  border: 3px solid #23434c;
  border-radius: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 54px;
  text-align: center;
  align-items: center;
  color: #23434c;
  margin: 40px 0 0 0;

  transition: 300ms ease-in-out;
  text-decoration: none;
}

.big_button:hover {
  background-color: #23434c;
  color: #fff;
}

.check_password,
.check_email {
  margin-top: 20px;
}

.dark_green_effect {
  background-color: #fff;
  color: #23434c;
}

.dark_green_effect:hover {
  background-color: #23434c;
  color: #fff;
}

.dark_green_font {
  color: #23434c;
}

.login_form label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  align-items: center;

  color: #23434c;
}

.login_form input {
  border: 1px solid #23434c;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  width: 575px;
  height: 52px;
}

.login_form p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  margin-top: 20px;
}

/******************* AFTER lOGIN MA'AM SECTION *******************/

.magnet_after {
  top: 500px;
  left: 30px;
}

.pulley_after {
  top: 50px;
  left: 500px;
}

.emc2_after {
  top: 250px;
  left: 30px;
}

.incline_plane_after {
  top: 200px;
  left: 1425px;
}

.einstein_after {
  top: 550px;
  left: 1425px;
}

.person_after_login img {
  width: 50px;
}

.exam_cards_section {
  margin: 80px 150px 0 150px;

  /* padding: 0 50px 0 50px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.exam_card_wrapper {
  /* padding: 20px 20px 20px 20px; */
  transform: scale(0.85);
  transition: 300ms ease-in-out;
}

.exam_card {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #0094ff;
  border-radius: 22.575px 22.575px 0px 0px;
  width: 300px;
  opacity: 90%;
}

.exam_card_wrapper:hover {
  transform: scale(1);
}

.exam_card_2 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ec2dc2;
}

.exam_card_3 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #2af8ff;
}

.exam_card_4 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #29ffd8;
}

.exam_card_5 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ff006b;
}

.exam_card_6 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #312dec;
}

.exam_card_7 {
  background: linear-gradient(
      4.47deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ffd417;
}

.exam_topic {
  background: linear-gradient(
      192.02deg,
      #ffffff -61.29%,
      rgba(255, 255, 255, 0) 55.17%
    ),
    rgba(24, 8, 72, 0.2);
  border-radius: 22.575px 22.575px 0px 0px;
  padding: 25px 20px 25px 20px;
}

.exam_topic h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20.5227px;
  line-height: 31px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.exam_details {
  padding: 20px 30px 10px 30px;
}

.exam_date,
.exam_duration,
.exam_max_marks,
.exam_attendance {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.exam_date,
.exam_duration,
.exam_max_marks,
.exam_attendance p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.exam_date h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_duration h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_max_marks h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_attendance h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.exam_controls {
  padding: 5px 30px 5px 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;

  background: linear-gradient(
      4.65deg,
      #f8f8f8 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #595959;
  border-radius: 0 0 22.575px 22.575px;
}

.serial_no {
  width: 36.26px;
  height: 36.26px;
  border-radius: 100%;
  background: #140064;
}

.serial_no p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16.4182px;
  line-height: 35px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/****************CLASS PERFORMANCE LIST *******************/

.selected_exam_topic {
  font-family: Poppins;
  color: #140064;
  text-align: center;
}

.selected_exam_topic h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 54px;
}

.students_rank_list {
  width: 70%;
  margin: 10px auto 0 auto;
  display: flex;
  font-family: Poppins;
  color: #fff;
  padding: 10px 0 10px 0;
  background: #140064;
  border-radius: 12px;
}

.s_no {
  width: 10%;
  text-align: center;
}

.name_in_list {
  width: 60%;
  margin-left: 100px;
}

.marks_scored {
  margin-left: 100px;
}

.list_item {
  background-color: #fff;
  color: #140064;
  margin: 5px auto 5px auto;
  transition: 100ms ease-in-out;
}

.list_item:hover {
  background: #e6e8ff;
  color: #140064;
  font-weight: 500;
}

/*******************STUDENT REPORT CARD SECTION *******************/

.report_card_outer_container {
  width: 83%;
  margin: 10px auto 50px auto;
}
.report_card_outer_container h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;

  color: #140064;
}

.report_card_inner_container {
  margin: 20px auto 0 auto;
  background: rgba(20, 0, 100, 0.2);
  border-radius: 17px;
  padding: 50px 80px 50px 80px;
  display: flex;
}

.student_details {
  background: linear-gradient(
      2.09deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #140064;
  border-radius: 22.5px;
  width: 450px;
  height: 176px;
  border-radius: 22.575px;
  display: flex;
}

.column_1 {
  height: 176px;
  width: 280.62px;
  background: rgba(20, 0, 100, 0.2);
  border-radius: 22.575px 0 0 22.575px;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column_1 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* identical to box height */
  margin-top: 5px;
  text-align: justify;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}

.column_2 {
  width: 170px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.column_2 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-top: 5px;
  /* identical to box height */

  text-align: justify;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}

.graph {
  width: 450px;
  height: 282px;
  background-color: #fff;
  border-radius: 27.1788px;
  margin-top: 20px;
}

.graph_details {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16.42px;
  line-height: 19px;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  color: #140064;
}

.answer_list {
  /* background: hotpink; */
  padding: 0 80px 0 50px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: repeat(auto-fit, 80px);
}

.result {
  display: flex;
  transform: scale(0.8);
}

.question_s_no {
  width: 64.88px;
  height: 54.36px;
  background: #ffffff;
  border: 1.75347px solid #000000;
  box-sizing: border-box;
  border-radius: 27.1788px 0px 0px 27.1788px;
}

.question_s_no p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 21.0416px;
  line-height: 50px;
  align-items: center;
  text-align: center;

  color: #140064;
}

.wrong_or_correct {
  width: 64.88px;
  height: 54.36px;
  background: #ffffff;
  border: 1.75347px solid #000000;
  box-sizing: border-box;
  border-radius: 0px 27.1788px 27.1788px 0px;
  text-align: center;
}

.wrong_or_correct img {
  margin: 10px auto 10px auto;
}

/************* ANSWER KEY SECTION ****************/

.question_paper_outer_container {
  width: 83%;
  margin: 30px auto 30px auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;

  line-height: 36px;
  color: #140064;
  text-align: center;
  align-items: center;
}

.question_paper_outer_container h2 {
  font-size: 24px;
}

.question_paper_outer_container p {
  font-size: 18px;
}

.questions {
  display: flex;
  border: 1.24562px solid #140064;
  box-sizing: border-box;
  border-radius: 22.5px;
  margin: 50px 0 30px 0;
}

.questions_left_part {
  width: 60%;
  background: rgba(20, 0, 100, 0.2);
  border-right: 0.684091px solid #140064;
  box-sizing: border-box;
  border-radius: 22.575px 0px 0px 22.575px;
  padding: 100px 50px 100px 50px;
  align-items: center;
  display: flex;
}

.question_no {
  text-align: center;
}

.question_given {
  text-align: justify;
  margin-left: 25px;
  color: #140064;
}
.options_given {
  text-align: left;
}

.options_given p {
  margin-bottom: 10px;
}

.questions_right_part {
  align-items: center;
  padding: 50px;
  width: 40%;
}
.question_answer {
  text-align: right;
  opacity: 50%;
}

/**************** STUDENT lOGIN **********************/

.new_exam_button {
  text-align: center;
}

.student_login_card_section {
  margin-top: 10px;
}

/************** QUESTION PAPER *************************/

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
  border: 2px solid #140064;
}

.option_1,
.option_2,
.option_3,
.option_4 {
  display: flex;
  align-items: top;
}

.option_1 input {
  margin-top: 10px;
  margin-right: 10px;
}

.option_2 input {
  margin-top: 10px;
  margin-right: 10px;
}

.option_3 input {
  margin-top: 10px;
  margin-right: 10px;
}

.option_4 input {
  margin-top: 10px;
  margin-right: 10px;
}

.bottom_submit_btn {
  width: 100%;
  text-align: center;
  margin: 100px auto 100px auto;
}

.successfully_submited_overlay {
  display: none;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 7, 104, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay_wrapper {
  font-family: Poppins;
  font-style: normal;
  width: 30%;
  padding: 50px 30px 50px 30px;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

/********************* STUDENT DETAILS SECTION **********************/

.class_details_container {
  width: 80%;
  margin: 50px auto 50px auto;
  font-family: poppins;
}

.class_details_container h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 141.69%;
  /* or 51px */
  color: #140064;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  font-feature-settings: "pnum" on, "lnum" on;
}

.details_card_bundle {
  padding: 0 0 0 35px;
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2em;
}

.details_card {
  display: flex;
  color: #fff;
  opacity: 90%;
  transform: scale(0.95);
  transition: 300ms ease-in-out;
}

.details_card:hover {
  z-index: 2;
  transform: scale(1.1);
  opacity: 100%;
}

.details_part {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #140064;
  border-radius: 18.3037px 0px 0px 18.2706px;
}

.card_2 {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #ba1058;
}

.card_3 {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #0094ff;
}

.card_4 {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #312dec;
}

.card_5 {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #00f2c7;
}

.card_6 {
  background: linear-gradient(
      2.78deg,
      #a63960 -77.25%,
      rgba(255, 255, 255, 0) 137.34%
    ),
    #f9a400;
}

.name_details {
  background: rgba(20, 0, 100, 0.4);
  border-radius: 18.3648px 0px 0px 0px;
}

.name_details h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 141.69%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.addOn_details {
  display: flex;
  justify-content: center;
}

.addOn_details p {
  font-weight: 300;
  font-size: 16px;
  line-height: 141.69%;

  font-feature-settings: "pnum" on, "lnum" on;
  margin-bottom: 5px;
}

.addOn_details_right_part {
  background: rgba(20, 0, 100, 0.2);
  border-radius: 0px 0px 0px 18.3648px;
  padding: 20px 30px 20px 40px;
}

.addOn_details_right_part p {
  font-weight: 400;
}

.addOn_details_left_part {
  padding: 20px 30px 20px 40px;
}

.control_part {
  background: linear-gradient(
      287.87deg,
      #f8f8f8 -86.23%,
      rgba(255, 255, 255, 0) 98.49%
    ),
    #5a3a8e;
  border-radius: 0px 26.6102px 26.6102px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
}

/******************* ADD QUESTIONS PART *******************/

.add_question_paper_section {
  width: 80%;
  margin: 30px auto 50px auto;
  font-family: Poppins;
  color: #140064;
}

.heading h1 {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 54px;
  margin-bottom: 20px;
}

.fill_exam_details input {
  border: 1px solid #5f37ff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  padding-left: 10px;
  box-sizing: border-box;
  min-height: 52px;
}

.row1 input {
  width: 90%;
  margin-left: 20px;
}

.row2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.row2 input {
  margin-left: 10px;
}

.row3 {
  margin-top: 20px;
}

.question_col {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.question_col label {
  margin-bottom: 10px;
}

.question_col input {
  height: 100%;
}

.options_col {
  width: 50%;
}

.options_col label {
  margin: 0 15px 0 15px;
}

.options_col input {
  width: 90%;
}

.first_option,
.second_option,
.third_option,
.fourth_option {
  margin-top: 10px;
}

.third_option input {
  width: 89.5%;
}

.for_input {
  display: flex;
  justify-content: space-between;
}

.add_ques_btn {
  width: 100%;
  text-align: right;
  margin: 20px 20px 50px 0;
}

.add_ques_btn img {
  height: 40px;
  position: relative;
  left: 0;
}

.launch_question_paper_button {
  width: 100%;
  text-align: center;
}

.publish_btn {
  background: #fff;
  border: 3px solid #140064;
  box-sizing: border-box;
  border-radius: 15px;
  width: 350px;
  height: 62px;
  transform: scale(0.95);

  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 54px;
  text-align: center;
  align-items: center;
  color: #140064;
  margin: 0 auto 0 auto;
  transition: 300ms ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.publish_btn:hover {
  transform: scale(1);
  background: #140064;
  color: #fff;
}

.published_overlay {
  display: none;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(0, 7, 104, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay_wrapper {
  font-family: Poppins;
  font-style: normal;
  width: 30%;
  padding: 50px 30px 50px 30px;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

/********************* FOR MOBILE PART ***************************/

@media screen and (max-width: 767px) {
  /**************** MOBILE HEADER SECTION *******************/

  body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .navbar {
    display: none;
  }

  .background {
    display: none;
  }

  .footer {
    display: none;
  }

  .mobile_logo {
    position: absolute;
    width: 111.73px;
    height: 49px;
    left: 21px;
    top: 15px;
    z-index: 100;
  }

  .mobile_navbar {
    width: 100%;
  }

  .mobile_navbar {
    all: unset;
    position: absolute;
    width: 200%;
    left: -290px;
    top: -800px;
    transition: transform 0.5s ease-in;
  }

  .active_mobile_navbar {
    transform: translateY(45vh);
  }

  .active_mobile_navbar_zindex {
    z-index: 99;
  }

  .logo_and_hamburger {
    all: unset;
    width: 100%;
    background: black;
    z-index: 12;
  }

  .hamburger {
    position: absolute;
    right: 20px;
    top: 22px;
    cursor: pointer;
    z-index: 101;
  }

  .mobile_logo img {
    height: 49px;
    left: 21px;
  }

  .mobile_nav_links {
    all: unset;
    width: 100%;
    position: fixed;
    top: 0;
    height: 50%;
    padding: 25px 0 0 0;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* 
    animation: slide_in 700ms; */
    opacity: 0;
    z-index: -1;
    transform: translateY(-5%);
    transition: 300ms ease-in 300ms;
  }

  .mobile_nav_links a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 17px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
  }

  .nav_links_active {
    transform: translateY(0);
    opacity: 1;
    z-index: 100;
  }

  .rect_1 {
    transition: transform 500ms ease-in;
  }

  .rect_2 {
    transition: transform 500ms ease-in;
  }

  .rect_3 {
    transition: transform 500ms ease-in;
  }

  .rect_1_active {
    transform: rotate(-45deg) translate(-19px, 18px);
  }

  .rect_2_active {
    transform: rotate(45deg) translate(9px, -28px);
  }

  .rect_3_active {
    transform: rotate(45%);
    opacity: 0;
  }

  /****************** HOME PAGE CONTENT (MAIN SECTION) FOR MOBILE *******************/
  .main {
    display: flex;
    flex-direction: column-reverse;
    margin: 110% 0 0 0;
    /* position: absolute;
    height: 600px;
    top: 374px; */
    justify-content: space-between;
  }

  .content {
    all: unset;
    width: 100%;
    height: 50%;
    margin: 0 auto 0 auto;
  }

  .bigname {
    margin: 10px 0 10px 50px;
    width: 95%;
    margin: 0 auto 0 auto;
    position: unset;
    padding: unset;
    align-items: center;
    padding: 5% 0 5% 5%;
  }

  .bigname h1 {
    font-size: 3rem;
    line-height: 49px;
  }

  .description {
    padding: 20px 10px 10px 10px;
    text-align: justify;
    margin: 0 auto;
    max-width: 90%;
  }

  .description p {
    all: unset;
    font-style: normal;
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 128.19%;

    text-align: justify;
    font-feature-settings: "pnum" on, "lnum" on;

    color: #131313;
  }

  .classes {
    all: unset;
    display: flex;
    max-width: 95%;
    width: 75%;
    margin: 20px auto 20px auto;
    justify-content: space-between;
  }

  .classes img {
    width: 26%;
  }

  .big_center_blobs {
    display: none;
  }

  .blob_section_for_mobile {
    all: unset;
    text-align: center;
  }

  .blob_section_for_mobile img {
    width: 90%;
  }

  .footer_for_mobile_phone {
    display: initial;
    text-align: center;
    position: relative;
    bottom: -17%;
    margin: 0 auto;
    transform: scale(1.15);
  }

  .footer_for_mobile_phone p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 155.19%;
    align-items: flex-end;
    text-decoration-line: underline;
    font-feature-settings: "pnum" on, "lnum" on;

    color: #7545ff;
  }

  .location_for_mobile p {
    position: relative;
    top: -33px;
    right: -92px;
    width: 65%;

    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    color: #000000;
  }

  .mail_for_mobile {
    position: relative;
    top: -28px;
  }

  .mail_for_mobile p {
    position: relative;
    top: -30px;
    right: 0px;

    font-size: 12px;
    text-decoration: none;
    line-height: 12px;
    color: #000000;
  }

  .call_for_mobile {
    position: relative;
    top: -44px;
  }

  .call_for_mobile p {
    position: relative;
    top: -29px;
    right: -33px;

    font-size: 12px;
    text-decoration: none;
    line-height: 12px;
    color: #000000;
  }

  /*************** MOBILE REGISTRATION PAGE **********************/

  .logo {
    display: none;
  }

  .blueblob {
    display: none;
  }

  .top_button_part {
    right: 10px;
    width: fit-content;
    top: 95px;
    font-size: 0.8rem;
  }

  .registration_bottom_container {
    height: 100vh;
    width: 100%;
    padding: 100px 0 0 0;
  }

  .registration_form {
    all: unset;
    margin-top: 50px;
    width: 100%;
    z-index: 5;
    padding: 20px 10px 0 10px;
  }

  .registration_form h1 {
    font-size: 1.3rem;
    line-height: 18px;
    width: 100%;
    margin: 0 auto;
  }

  .slide_part {
    width: 95%;
  }

  .form_1 {
    width: 100%;
  }

  .form_1 label {
    font-size: 0.8rem;
    line-height: 18px;
  }

  .form_1 input {
    font-size: 0.95rem;
    line-height: 36px;
    padding-left: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    width: 95vw;
    height: 45px;
  }

  .date_of_birth input {
    width: 100%;
  }

  .current_section {
    transform: scale(0.7);
    text-align: center;
    margin-left: 12px;
  }

  .current_section img {
    width: 60%;
  }

  .next_section_link,
  .previous_section_link {
    font-size: 0.9rem;
  }

  .create_btn {
    transform: scale(0.9);
    font-size: 0.95rem;
  }
}
